*{
    margin: 0;
    padding: 0;
}
/*identificador css*/
#titulo_principal{
    color: #f72585;
    text-align: center;
    margin: 15px;
    margin-top: 47px;
}

h2{
    color:#3f37c9;
}
p{
    color:#457b9d;
}
/*Clase de CSS*/
.tarjeta{
    border: 10px solid #560bad;
    background-color: #83ea61;
    text-align: right;
    margin: 10px 115px;
    padding: 12px;
    margin: 32px 90px;
}
.titulo{
    color: #f72585;
}