:root{
    --primario:#8a030e;
    --secundario:#bb4d00;
    --colorFondo:#fff;
}


/* h1{
    color:rgb(112, 44, 44) !important;
} */
h1{
    color:red ;
}

h1.titulo{
    color:green;
}
h1.titulo{
    color:rgb(13, 0, 128);
}
#idSaludo{
   color:#230553; 
}

.titulo{
    color:var(--secundario);
}
h1{
    color:var(--primario); 
    text-align: center;
 }
 p{
     color:#457b9d;
     background-color: var(--colorFondo);
     padding: 15px;
     border: 10px solid #1d3557;
     /*margin-top: 40px;
     margin-right: 10px;
     margin-bottom: 20px;
     margin-left: 10px;*/
     margin:auto 50px;
     text-align: center;
 }
 h1{
    color:green;
 }